<?xml version="1.0"?>
<launch>
  <arg name="mesh_file" default="$(find noether_examples)/data/raw_mesh.ply"/>
  <node name="edge_generator_client" pkg="noether_examples" type="edge_generator_client" output="screen">
    <param name="mesh_file" value="$(arg mesh_file)"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find noether_examples)/config/edge_generation.rviz"/>  
  <include file="$(find noether)/launch/edge_generator_server.launch"/>
</launch>
