<?xml version="1.0"?>
<launch>
  <arg name="filter_group" default="DEFAULT"/>
  <arg name="mesh_file" default="$(find noether_examples)/data/raw_mesh.ply"/>
  <node name="mesh_filtering_client" pkg="noether_examples" type="mesh_filtering_client" output="screen">
  	<param name="mesh_file" value="$(arg mesh_file)"/>
  	<param name="filter_group" value="$(arg filter_group)"/>
  	<param name="results_dir" value="$(find noether_examples)/results"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find noether_examples)/config/mesh_filtering.rviz"/>	
  <include file="$(find noether)/launch/mesh_filter_server.launch"/>
</launch>