<launch>
  <arg name="filename"/>
  <arg name="min_cluster_size" default="500"/>
  <arg name="max_cluster_size" default="1000000"/>
  <arg name="curvature_threshold" default="0.05"/>
  <arg name="neighborhood_size" default="0.05"/>
  <arg name="use_mesh_normals" default="true"/>
  <arg name="show_individually" default="false"/>
  <arg name="save_outputs" default="false"/>

  <!-- Launch the segmentation server -->
  <node name="mesh_segmenter_server_node" type="segmentation_server" pkg="noether" output="screen" required="true" />

  <node name="mesh_segmenter_client_node" type="mesh_segmenter_client_node" pkg="noether_examples" output="screen" required="true" >
    <!--Loads a particular test file: ply -->
    <param name="filename" value="$(arg filename)" type="string"/>
    <param name="min_cluster_size" value="$(arg min_cluster_size)" type="int" />
    <param name="max_cluster_size" value="$(arg max_cluster_size)" type="int" />
    <param name="curvature_threshold" value="$(arg curvature_threshold)" type="double" />
    <param name="neighborhood_size" value="$(arg neighborhood_size)" type="double" />
    <param name="use_mesh_normals" value="$(arg use_mesh_normals)" type="bool" />
    <param name="show_individually" value="$(arg show_individually)" type="bool" />
    <param name="save_outputs" value="$(arg save_outputs)" type="bool" />
  </node>

</launch>

