<?xml version="1.0"?>
<launch>
  <arg name="mesh_file" />
  <node launch-prefix="" name="plane_slicer_generator_node" pkg="noether_examples" type="plane_slicer_generator_node" output="screen">
    <param name="mesh_file" value="$(arg mesh_file)"/>
    <rosparam ns="plane_slicer_rastering">
      raster_spacing: 0.05
      point_spacing: 0.02
      raster_rot_offset: 0.0
      min_hole_size: 0.02
      min_segment_size: 0.01
      search_radius: 0.02
    </rosparam>
  </node>
  <include file="$(find noether)/launch/tool_path_planner_server.launch"/>
</launch>
