name: Ubuntu [Focal, Jammy, Noble]

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    paths:
      - 'noether**'
      - '.github/workflows/ubuntu.yml'
      - '*.repos'
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:
  release:
    types:
      - released

jobs:
  ci:
    name: ${{ matrix.distro }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro: [focal, jammy, noble]
    container:
      image: ubuntu:${{ matrix.distro }}
      env:
        CCACHE_DIR: ${{ github.workspace }}/${{ matrix.distro }}/.ccache
        DEBIAN_FRONTEND: noninteractive
        TZ: Etc/UTC
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: target_ws/src

      - name: Build and Tests
        uses: tesseract-robotics/colcon-action@v9
        with:
          ccache-prefix: ${{ matrix.distro }}
          add-ros-ppa: true
          vcs-file: dependencies.repos
          rosdep-install-args: '--skip-keys libvtk'
          target-path: target_ws/src
          target-args: --cmake-args -DCMAKE_BUILD_TYPE=Debug -DNOETHER_ENABLE_TESTING=ON -DNOETHER_ENABLE_RUN_TESTING=OFF
